header nav, footer{
    background: green;
}

header nav a{
    color: white;
}

footer{
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
}
.page{
    min-height: 400px;
    background: #e2e2e2;
    box-shadow: 0px 0px 6px 2px black;
    margin: 15px 0;
    padding: 15px;
}
header, footer{
    box-shadow: 0px 0px 6px 2px black;
    
}
header{
    margin-top: 15px;
}
.prod-wrap{
    box-shadow: 0px 0px 4px 1px black;
    padding: 15px;
    margin: 12px 0;
    text-align: center;
}

.img-cart{
    max-width: 50px;
    margin-top: -15px;
}